# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Kate
*~

# MSVC
Debug
Release
ipch
x64
*.sdf
*.user
*.suo
*.opensdf

# Executable
te-test

# Resharper
_ReSharper*

# Upgrade Reports
_UpgradeReport_Files/
UpgradeLog.XML
UpgradeLog.htm

# Text Editor
\#*#

# NuGet
packages

# NUnit
TestResults

# Mono
lib/Mono

# Exclusions
!lib/

# Xamarin Studio
*.userprefs

# Quake Specific
Debug_TA
Debug TA
DebugAxp
Release_TA
Release TA
ReleaseAxp
q3_ui___Win32_Debug
build/
winquake.res

# FQuake3 Specific
lib/FQuake3.Utils/src/FQuake3.Viewer/libFQ3Viewer.dylib

# Erlang
*.beam
